<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>시간표</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <div class="section">
      <h2><span>Timetable search</span></h2>
      <form action="/home" method="POST" color>
        <div class="form-group">
          <label>시간표 이름:</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="시간표 이름을 입력하세요.">
        </div>
        <button type="submit" class="btn btn-primary">검색</button>
      </form>
    </div>
    {% endblock %}
  </body>
</html>
