{% extends "template.html" %}
{% block content %}
<div class="section">
    <h1><span>{{ username }}</span></h1>
    <table>
        <tr>
            <th>Day</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
        </tr>
        <tr>
            <td>8-9 AM</td>
            <td class="{{ cssList[0] }}">{{ list[0] }}</td>
            <td class="{{ cssList[1] }}">{{ list[1] }}</td>
            <td class="{{ cssList[2] }}">{{ list[2] }}</td>
            <td class="{{ cssList[3] }}">{{ list[3] }}</td>
            <td class="{{ cssList[4] }}">{{ list[4] }}</td>
        </tr>
        <tr>
            <td>9-10 AM</td>
            <td class="{{ cssList[5] }}">{{ list[5] }}</td>
            <td class="{{ cssList[6] }}">{{ list[6] }}</td>
            <td class="{{ cssList[7] }}">{{ list[7] }}</td>
            <td class="{{ cssList[8] }}">{{ list[8] }}</td>
            <td class="{{ cssList[9] }}">{{ list[9] }}</td>
        </tr>
        <tr>
            <td>10-11 AM</td>
            <td class="{{ cssList[10] }}">{{ list[10] }}</td>
            <td class="{{ cssList[11] }}">{{ list[11] }}</td>
            <td class="{{ cssList[12] }}">{{ list[12] }}</td>
            <td class="{{ cssList[13] }}">{{ list[13] }}</td>
            <td class="{{ cssList[14] }}">{{ list[14] }}</td>
        </tr>
        <tr>
            <td>11-12 PM</td>
            <td class="{{ cssList[15] }}">{{ list[15] }}</td>
            <td class="{{ cssList[16] }}">{{ list[16] }}</td>
            <td class="{{ cssList[17] }}">{{ list[17] }}</td>
            <td class="{{ cssList[18] }}">{{ list[18] }}</td>
            <td class="{{ cssList[19] }}">{{ list[19] }}</td>
        </tr>
        <tr>
            <td>12-1 PM</td>
            <td class="{{ cssList[20] }}">{{ list[20] }}</td>
            <td class="{{ cssList[21] }}">{{ list[21] }}</td>
            <td class="{{ cssList[22] }}">{{ list[22] }}</td>
            <td class="{{ cssList[23] }}">{{ list[23] }}</td>
            <td class="{{ cssList[24] }}">{{ list[24] }}</td>
        </tr>
        <tr>
            <td>1-2 PM</td>
            <td class="{{ cssList[25] }}">{{ list[25] }}</td>
            <td class="{{ cssList[26] }}">{{ list[26] }}</td>
            <td class="{{ cssList[27] }}">{{ list[27] }}</td>
            <td class="{{ cssList[28] }}">{{ list[28] }}</td>
            <td class="{{ cssList[29] }}">{{ list[29] }}</td>
        </tr>
        <tr>
            <td>2-3 PM</td>
            <td class="{{ cssList[30] }}">{{ list[30] }}</td>
            <td class="{{ cssList[31] }}">{{ list[31] }}</td>
            <td class="{{ cssList[32] }}">{{ list[32] }}</td>
            <td class="{{ cssList[33] }}">{{ list[33] }}</td>
            <td class="{{ cssList[34] }}">{{ list[34] }}</td>
        </tr>
        <tr>
            <td>3-4 PM</td>
            <td class="{{ cssList[35] }}">{{ list[35] }}</td>
            <td class="{{ cssList[36] }}">{{ list[36] }}</td>
            <td class="{{ cssList[37] }}">{{ list[37] }}</td>
            <td class="{{ cssList[38] }}">{{ list[38] }}</td>
            <td class="{{ cssList[39] }}">{{ list[39] }}</td>
        </tr>
        <tr>
            <td>4-5 PM</td>
            <td class="{{ cssList[40] }}">{{ list[40] }}</td>
            <td class="{{ cssList[41] }}">{{ list[41] }}</td>
            <td class="{{ cssList[42] }}">{{ list[42] }}</td>
            <td class="{{ cssList[43] }}">{{ list[43] }}</td>
            <td class="{{ cssList[44] }}">{{ list[44] }}</td>
        </tr>
    </table>
</div>
{% endblock %}